<style>
.fc-event, .fc-event-dot {
    background-color : #563d7c;
    color : white;
}
.fc-content {
    color : white;
}
</style>
<div  ng-controller="reservation-cabin-controller">

    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#/reservations"><i class="fa fa-credit-card-alt" aria-hidden="true"></i> Reservaciones</a></li>
        <li class="breadcrumb-item active"><i class="fa fa-bed" aria-hidden="true"></i> cabañas</li>
    </ol>

    <h2 class="display-3">{{title}}</h2>

    <br/>

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-7">
            <h5 class="lead"> <i class="fa fa-bed" aria-hidden="true"></i> Disponibles</h5>
        </div>
        <div class="col-md-4">
            <a href="#/reservations/cabin/new"><button type="button" class="btn btn-primary" style="width:100%;"><i class="fa fa-plus-circle" aria-hidden="true"></i> Nueva reservación</button></a>
        </div>
    </div>

    <hr>

    <div class="row">
        <div class="col-md-12">
            <div class="alert alert-danger" role="alert" ng-if="errors">
                <strong>Error al agregar objecto</strong>
                <p>{{errors}}</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="col-md-12">
                <center>
                    <div class="btn-group" data-toggle="buttons">
                        <label class="btn btn-primary active">
                            <input type="radio" name="options" id="monthOption" autocomplete="off" checked ng-click="all()"> Todas
                        </label>
                        <label class="btn btn-danger">
                            <input type="radio" name="options" id="yearOption" autocomplete="off" ng-click="notpayed()"> No pagadas
                        </label>
                        <label class="btn btn-warning">
                            <input type="radio" name="options" id="allOption" autocomplete="off" ng-click="next()"> Próximas
                        </label>
                    </div>
                </center>
            </div>

            <div class="col-md-12" style="overflow-y: scroll; height:480px;">
                <br>
                <div ng-repeat="r in reservations" class="card card-inverse" style="background-color: #333; border-color: #333;">
                    <div class="card-block">
                        <h3 class="card-title">{{r.reservation_info.full_name}}</h3>
                        <p ng-repeat="d in r.details" class="card-text">{{d.product.name}}</p>
                        <p class="card-text">Capacidad : {{r.max_guests}}</p>
                        <p class="card-text">Niños Extra : {{r.extra_guests_child}}</p>
                        <p class="card-text">Adultos Extra : {{r.extra_guests_adult}}</p>
                        <p class="card-text">{{r.date_start|dateFilter}} - {{r.date_end|dateFilter}}</p>
                        <div class="row">
                            <div class="col-md-6">
                                <a href="#" ng-click="delete($event, r.id)"class="btn btn-danger">Borrar</a>
                            </div>
                            <div class="col-md-6">
                                <a href="#/reservations/cabin/detail/{{r.id}}" class="btn btn-primary">Ver detalle</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-8">
            <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources" style="height:500px"></div>
        </div>
    </div>

</div>

</script>
